@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Ubuntu:wght@700&display=swap');
:root {
  --purple: rgb(174,157,218);
  --sky-blue: rgb(230,239,255);
  --dark-sky-blue: rgb(201,220,255);
  --dark-blue: rgb(33, 53, 97);
}

.text-purple {
  color: var(--purple) !important;
}
.text-sky-blue {
  color: var(--sky-blue) !important;
}
.text-dark-blue {
  color: var(--dark-blue) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}
.bg-sky-blue {
  background-color: var(--sky-blue) !important;
}
.bg-dark-blue {
  background-color: var(--dark-blue) !important;
}

.bg-dark-sky-blue {
  background-color: var(--dark-sky-blue) !important;
}

.border-purple {
  border-color: var(--purple) !important;
}
.border-sky-blue {
  border-color: var(--sky-blue) !important;
}
.border-dark-blue {
  border-color: var(--dark-blue) !important;
}

.curved-right {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}
.logo-font {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.w-90{
    width: 90%;
}
